*{
    font-family: sans-serif;
}

body{
    display: flex;
    flex-direction: column;
    height: 90vh;
    justify-content: center;
    align-items: center;
}

#no{
    font-size: 120px;
    padding-bottom: 60px;
}

#label{
    font-size: 50px;
    padding-bottom: 10px;
}

#number{
    font-size: 70px;
}