*{
    font-family: sans-serif;
    text-align: center;
}

body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
}

#content{
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 40px;
}

@media screen and (max-height: 700px) {
    #content{
        min-height: 100vh;
    }
}

.grow{
    flex-grow: 9;
}

.grower{
    flex-grow: 12;
}

.nogrow{
    flex-grow: 0;
}

#no{
    font-size: 120px;
    padding-bottom: 60px;
}

#label{
    font-size: 50px;
    padding-bottom: 10px;
}

#number{
    font-size: 70px;
}

#footer{
    background: black;
    color: white;
    width: 100%;
}

#footerText{
    margin: auto;
    padding: 40px;
    max-width: 1500px;
}